page-home {
    .row {
        text-align: center;
    }

    .ion-button-icon {
        background-color: transparent !important;
    }

    .custom_icon {
        position: relative;
        font-size: 32px;
        color: #000000;
        p {
            font-size: 12px;
            margin: 4px 0px 0px 0px; 
        }
        a {
            color: #000000;
        }
    }
    ion-icon {
        &[class*="icon"] {
          mask-size: contain;
          mask-position: 50% 50%;
          mask-repeat: no-repeat;
          background: currentColor;
          width: 2.5em;
          height: 2.5em;
        }
        &[class*="icon-clinics"] {
            mask-image: url(../assets/icon/clinics.svg);
        }
        &[class*="icon-hotel"] {
            mask-image: url(../assets/icon/hotel.svg);
        }
        &[class*="icon-petshop"] {
            mask-image: url(../assets/icon/petshop.svg);
        }
        &[class*="icon-caregivers"] {
            mask-image: url(../assets/icon/004-person.svg);
        }
    }
}
